extends ../includes/layout
include ../includes/bootstrap_mixins

mixin dvRow(label)
  .col-md-2.col-4(data-dvType=label.toLowerCase())
    .row
      .col-md-2
      p.h4.col-md-6.text-center=label

prepend pageStyles
  - var pageTitle = "Gen 1 DVs"

append pageContent
  .container-fluid
    h1 Pokemon Yellow DV Calculator
    p.lead For use with Glitchless Classic Speedruns
    .form-row
      .col-md-2.form-group
        button.btn.btn-danger(type="button" id="reset") Reset!
      .col-md-4.form-row
        label.col-md.col-form-label(for="level") Nido's Level
        input.col-md.form-control(type="number" id="level" aria-describedby="levelHelp" value=6 min=6 max=23)
    .row.dvButtons
      +dvRow("HP")
      +dvRow("Attack")
      +dvRow("Defense")
      +dvRow("Speed")
      +dvRow("Special")

append pageScripts
  script(src="js/main.js")