@import "modules/colors.scss";

body {
    padding-bottom: 87px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

button.btn.btn-primary {
    border-color: #0069d9;
}